//Import the base bootstrap less here.

@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "data-img.less";

//add the SVG to the header of the layout.html.twig file;

.nu-lib-logo{
  .library-svg;
  display: block;
  width: 400px;
  height: 65px;
}




